<section class="ListFooter" [class]="themeService.theme$ | async">
  <ng-container
    *ngIf="{ todos: todoService.filteredTodos$ | async, filter: filterService.currentFilter$ | async } as data">
    <!--  -->
    <p i18n="@@remaining">{ data?.todos?.length ?? 0, plural, =0 {No items} =1 {1 item left} other {
      {{data?.todos?.length }} items left }}
    </p>

    <!--FIXME: !isMobileView && -->
    <app-list-filter />
    <button type="button" (click)="clearCompleted()" [disabled]="data.filter === 'active'" i18n="@@clearButton">
      Clear completed
    </button>
  </ng-container>
</section>
